<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security secured-annotations="enabled" />
	<bean id="mifiltro" class="com.kcc.app.controller.ExtInpuParam">
		<property name="authenticationManager" ref="miautenticatormanager"></property>
	</bean>
    <security:http auto-config="true" use-expressions="true">
		<security:access-denied-handler error-page="/login?error=403" />
        <security:intercept-url pattern="/" access="permitAll" />
        <security:intercept-url pattern="/protected/**" access="isAuthenticated()" />

        <security:form-login login-page="/login" authentication-failure-url="/login?error=403" default-target-url="/protected/home" />

        <security:logout invalidate-session="true" logout-success-url="/login" logout-url="/logout" />
        <security:custom-filter before="FORM_LOGIN_FILTER" ref="mifiltro" />
    </security:http>

    <security:authentication-manager alias="miautenticatormanager">
        <security:authentication-provider>
        	<security:jdbc-user-service
                    data-source-ref="myDataSource"
                    users-by-username-query="select aus_username, aus_password as password, aus_estado = 'A' as enabled from adm_usuario where aus_username = ?"
                    authorities-by-username-query="select u.aus_username as login, u.aus_ape_id as role from adm_usuario u where u.aus_username = ?" />
        </security:authentication-provider>
    </security:authentication-manager>
</beans>